body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-family: "Audiowide", sans-serif;font-family: "Trirong", serif;
}


.header{
    background-color: rgb(240, 218, 192);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.4s;
}
.header .logo img:hover{
    transform: scale(1.2);
}

.header .navlinks{
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

.header .navlinks li{
    display: inline-block;
    padding: 0 20px;
}

.header .navlinks li:hover{
    transform: scale(1.2);
}

.header .navlinks a{
    font-size: 17;
    color: black;
    text-decoration: none;
}

.header .navlinks li a:hover{
    color: rgb(114, 77, 34);
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: rgb(245, 250, 250);
    padding: 9px 25px;
    background: rgb(69, 47, 5);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: rgb(252, 252, 253);
    color: rgb(50, 29, 5);
    transform: scale(1.2);
}
a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}



main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

h2{
margin-bottom: 1px;
font-family: "Audiowide", sans-serif;font-family: "Trirong", serif;
}

img{
    width: 100%;
    height: 450px;
}
p{
    margin-bottom: 1px;
    line-height: 1.2;
}
.eventosbox{
    display: flex;
justify-content: center;
align-items: center;
width: 100%;

}
.eventosbox h2 {
    text-align: center;
    padding: 10px;
}
.eventos {
    padding: 10px;
    width: 33.33%;
    height: 80%;

}
.eventos1 {
    padding: 10px;
    width: 33.33%;
    height: 80%;
}
.eventos2 {
    padding: 10px; 
    width: 33.33%;
    height: 80%;
}
.piedepagina{
    margin-top: 90px;
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
   
}
.piedepagina1{
    width: 70%;
    text-align: center;
   

}
.pieddepagina-titulo{
    color: black;
    text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.381);
    font-family: "Audiowide", sans-serif;font-family: "Trirong", serif;
    font-size: 35px;
}
.piedepagina2{
    display: flex;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
}
a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}